body {
    background-color: lightblue;
}
/* .name {
    color: black;
    text-align: center;
    font-size: 20px;
}
.nameButton {
    background-color:dimgray;
    border: none;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
} */